* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    display: flex;
    color: aquamarine;
    
}

header {
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    width: 100px;
    
}

section {
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    width: 100px;
    
}

article {
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    width: 100px;
    
}

footer {
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    width: 100px;
    
}