* {
    box-sizing: border-box;
}
.welcome {
   margin: 0 auto;
   font-size: 4em;
   width: 20em;
   color: hsla(0, 0%, 100%, .7);
   text-align: center;
   
}
header .profile {
   margin-left: auto;
   margin-right: auto;
   height: 16em;
   display: block;
   border-radius: 100px;
}

body {
   background-image: url("https://images.pexels.com/photos/997443/pexels-photo-997443.jpeg?cs=srgb&dl=grayscale-photo-of-volcano-997443.jpg&fm=jpg");
   background-repeat: no-repeat; 
   background-position: center;
   
}
.pbody {
    border-radius: 10px;
    background-color: rgba(230, 230, 230, .5);
    margin: 0 auto;
    display: flex;
   align-items: center;
   justify-content: center;
   flex-flow: column wrap;
   align-content: center;
    
}

h1 {
    margin: 0 auto;
    
}

header {    
    margin: 0 auto;
      
}

section {
    margin: 0 auto;
       
}

article {
    margin: 0 auto;
    background-color: rgba(230, 230, 230, .5);
    border-radius: 100px;
}
.project {

}

.foot {
    margin: 0 auto;  
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: center;
    background-color: lightseagreen;
    
}

footer { 
    
}